[submodule "Structural-Patterns/Facade-Pattern"]
	path = Structural-Patterns/Facade-Pattern
	url = https://github.com/oishik-c/facade-pattern.git
[submodule "Structural-Patterns/Composite-Pattern"]
	path = Structural-Patterns/Composite-Pattern
	url = https://github.com/oishik-c/composite-pattern.git
[submodule "Structural-Patterns/Bridge-Pattern"]
	path = Structural-Patterns/Bridge-Pattern
	url = https://github.com/oishik-c/bridge-pattern.git
[submodule "Structural-Patterns/Decorator-Pattern"]
	path = Structural-Patterns/Decorator-Pattern
	url = https://github.com/oishik-c/decorator-pattern.git
[submodule "Structural-Patterns/Flyweight-Pattern"]
	path = Structural-Patterns/Flyweight-Pattern
	url = https://github.com/oishik-c/flyweight-pattern.git
[submodule "Structural-Patterns/Proxy-Pattern"]
	path = Structural-Patterns/Proxy-Pattern
	url = https://github.com/oishik-c/proxy-pattern.git
[submodule "Structural-Patterns/Adapter-Pattern"]
	path = Structural-Patterns/Adapter-Pattern
	url = https://github.com/oishik-c/adapter-pattern.git
[submodule "Creational-Patterns/Factory-Method"]
	path = Creational-Patterns/Factory-Method
	url = https://github.com/oishik-c/factory-method-pattern.git
